* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Black.ttf");
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Light.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-LightItalic.ttf");
  font-style: italic;
  font-weight: 200;
}

body {
  font-family: "Roboto";
  font-weight: 400;
}

.wrapper {
  display: grid;
  grid-template:
    ". head head" 1fr
    "project todo todo" 7fr
    "project todo todo" 7fr / 2fr 4fr 5fr;
  width: 100%;
  height: 100vh;
  background-color: #f4f4f5;
}

header {
  grid-area: head;
  padding: 10px;
  margin: 5px;
}

.header-content {
  height: 50px;
  border-radius: 5px;
  padding: 5px;
}

.header-title {
  color: #0f172a;
  font-size: 30px;
}

.header-desc {
  font-size: 14px;
  font-weight: 200;
  color: grey;
}

.control {
  height: 80%;
  width: 10%;
  cursor: pointer;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects {
  grid-area: project;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.section-label {
  align-self: flex-start;
  color: #0f172a;
  font-size: 24px;
  margin: 10px 10px 40px 10px;
}

.controls {
  width: 50px;
  height: 50px;
  background-color: #fafafa;
  border-radius: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 0.5s, width 0.5s;
  flex: none;
  box-shadow: 2px 3px 5px #676767;
}

.form-title {
  font-size: 20px;
  color: #0f172a;
}

.control-content {
  height: 30px;
  width: 30px;
}

.proj-big {
  height: 185px;
  width: 100%;
  transition: height 0.5s, width 0.5s;
  justify-content: flex-start;
  align-items: center;
}

.proj-form {
  display: none;
}

.todo-form {
  display: none;
}

.input-wrap {
  display: flex;
  flex-direction: column;
  margin: 2px;
  color: #0f172a;
  font-size: 14px;
}

.todo-big {
  height: 210px;
  width: 30%;
  justify-content: flex-start;
  transition: height 0.5s, width 0.5s;
}

.projects-content {
  height: min-content;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
}

.proj {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 3px;
  margin: 0 0 3px 0;
  position: relative;
  font-size: 20px;
  cursor: pointer;
}

.proj:hover {
  border: 1px solid lightgrey;
}

.proj-desc {
  color: grey;
}

.todos {
  grid-area: todo;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 2px 2px 5px grey;
}

.empty-notice {
  font-style: italic;
  font-weight: 200;
  align-self: center;
  color: #4a4a4a;
}

.todo-header {
  background-color: #fafafa;
  display: flex;
  justify-content: space-evenly;
  margin: 5px 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(203, 203, 203);
}

.todo-view {
  align-self: flex-start;
}

.todos-content {
  box-sizing: border-box;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}

.task:nth-child(even) {
  background-color: #e4e4e7;
}

.task-overview {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.text-wrap {
  text-align: center;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.task {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.task:hover {
  border: 1px solid lightgrey;
}

.proj-delete {
  position: absolute;
  bottom: 2px;
  right: 2px;
  display: none;
  height: 20px;
  width: 20px;
}

.proj:hover .proj-delete {
  display: block;
}

.task-delete {
  position: absolute;
  display: none;
  right: 2px;
  height: 15px;
  width: 15px;
}

.task:hover .task-delete {
  display: block;
  cursor: pointer;
}

.arrow {
  transform: rotate(90deg);
  transition: transform, 0.2s;
  cursor: pointer;
}

.arrow-clicked {
  transform: rotate(180deg);
  transition: transform, 0.2s;
}

.desc-container {
  height: 0px;
  margin-left: 5px;
  display: none;
  color: grey;
}

.desc-container-clicked {
  height: auto;
  width: 50%;
  display: block;
  transition: height, 0.5s;
}

.error-text {
  color: red;
  font-size: 12px;
}

button {
  background: white;
  border-radius: 5px;
  border: 1px solid black;
  padding: 4px;
  cursor: pointer;
  box-shadow: 1px 1px grey;
}

textarea {
  border: 1px solid black;
  border-radius: 5px;
}

input {
  border: 1px solid black;
  border-radius: 5px;
}
